/* the style is taken in such a way that there are 10 boxes in a row */
body {
  color: blue;
  font-family: verdana, helvetica;
  padding: 20px;
  margin: 20px;
  /* background-image: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
      ),
      url("img/confetti.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-color: aqua; */
  background-color: lightblue;
}
.container {
  width: 9.8%;
  height: 9.5vh;
  margin: 0.1%;
  background-color: black;
  float: left;
}

.reset {
  width: 100px;
}
